* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.php linguist-language=PHP
*.js linguist-language=JavaScript
*.css linguist-language=CSS

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
package.json binary
