.post img {
    transition: 0.5s;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 240px;
}
.post img:hover{
    transform: scale(1.3);
    opacity:0.6;
}
video {
width: 100%;
height: 240px;
}
iframe{
width: 100%;
height: 240px;
}
